/* styles for root component */
.container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    padding: 50px;
    background-color: orange;

}