/* styles for root component */
.container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    height: inherit;
    width: inherit;
}

.content {
    margin: 0;
    padding: 12px 50px;
    background-color: #fccd9f;
    color: #2e231a;
    flex: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    border-radius: 8px;
    padding: 12px;
    border: unset;
    margin: 12px 8px 8px 8px;
}