.appForm {
    background-color: #fccd9f;
}
input {
    margin-top: 12px;
    margin-bottom: 12px;
}
textArea {
    margin-top: 12px;
    margin-bottom: 12px;
}
select {
    margin-top: 12px;
    margin-bottom: 12px;
}